<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <img src="czm.jpg" alt="Italian Trulli">
    <title>CZM Token</title>

    <base href="/" />
  </head>
  <body>
    <h1>CZM Token</h1>
    <div id="root"></div>
  </body>
</html>